* {
background-color: wheat;
 }

.text {
color: #9a4545;
font-style: italic;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}

.link {
font-size: larger;    
}


/* Anything below this line concerns individual recipe pages */

.pagetext {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

.subsection,
.titles {
color: #9a4545;
font-weight: 700;
font-style: italic;
 }

.titles {
font-size: 45px;
}

